#footer {
    font-size: 1rem;
    text-align: center;
    background-color: #3f3f44;
    color: #F4F6FF;
    padding: 3% 15%;
    
    .footer-icon {
        margin: 2% 1%;
        color: #F4F6FF;
        text-decoration: none;
    }
    a {
        text-decoration: none;
    }
}